@import './styles/variables.scss';

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // margin: 3rem auto 0 auto;
  font-family: 'Roboto', sans-serif;

  
  .elevator-buttons-area {
    margin-right: 1rem;
    .floor-info-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:150px;
      border:10px solid black;
      border-radius: 10px;
      background-color: #01FF00;
      height:42px;
      margin-bottom: 1rem;
      background-size: 10px 10px;
      background-image:
      linear-gradient(to right, #00E500 2px, transparent 1px),
      linear-gradient(to bottom, #00E500 2px, transparent 1px);
      padding: 5px;
      p {
        margin: 0;
        font-weight: 600;
      }
      .floor-info, .elevator-direction-info {
        font-size: 18px;        
      }
    }
    .elevator-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
      grid-row-gap: 10px;
      .outer {
        border: 5px solid #6E6E6E;
        border-radius: 50%;
        padding: 2px;        
        .button {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 3px solid lightgray;
          font-size: 20px;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;    
          &:hover {
            cursor: pointer;
          }
          &:active {
            background:lime;
            box-shadow: 1px 1px 5px 3px green;
            color: white;
          }
        }
        &:hover {
          background-color: lime;
        }
      }
    }
  }

  .building {
    width: 250px;
    height: auto;
    background-color: $building-color;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    .floor {
      display: flex;
      flex-direction: row;
      justify-content: space-between;    
      margin-bottom: 1rem;  
      .home {
        background-color: $home-color;
        height: 65px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        .room {
          height:30px;
          width:30px;
          background-color: $room-color;
          border:2px solid #B8860A;
        }
        .door {
          height:50px;
          width:30px;
          background-color: #C0C0C0;
          &:first-child {
            border-top: 5px solid black;
            border-left: 5px solid black;
          }
          &:nth-child(2) {
            border-top: 5px solid black;
            border-left: 5px solid black;
            border-right: 5px solid black;
          }
        }
      }
    }
    .elevator {
        position: absolute;
        height: 50px;
        left: 41%;
        width: 40px;
        border: 3px solid black;
        border-top-width: 12px;
        background: linear-gradient(to right, $elevator-door-color 50%, $elevator-bg-color 50%);
        background-size: 200% 100%;
        background-position:right bottom;
        transition:all 1s ease;
        .elevator-door {
          width: 100%;
          height: 100%;
          right: 0;
          position: relative;
        }

        .elevator-light {
          position: absolute;
          top: -10px;
          left: calc(50% - 4px);
          border-radius: 50%;
          width: 8px;
          height: 8px;
        }
    }

    &:after {
      content: '';
      position: absolute;
      background-color: #333333;
      height: 20px;
      width: 270px;
      bottom: 0;
      left: -10px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 125px 50px 125px;;
      border-color: transparent transparent $roof-color transparent;
    }
  }

  .github-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 175px;
    position: fixed;
    background-color: black;
    cursor: pointer;
    left:-40px;
    top: 30px;
    font-size: 13px;
    cursor: pointer;
    transform: rotate(-40deg);
    transition: all 0.1s;
    a {
      color: white;
      text-decoration: none;
    }
    svg {
      margin-right: 3px;
    }
    &:hover {
      transform: rotate(-40deg) scale(1.1);
    }
  }
}

.close-door {
  background-position:left bottom !important;
}

.active-button {
  background:lime;
  box-shadow: 1px 1px 5px 3px green;
  color: white;
}

@media screen and (max-width: 414px) {
  .app {
    padding-top: 2rem;
    .elevator-buttons-area {
      .floor-info-area {
        width: 100px;
        .floor-info, .elevator-direction-info {
          font-size: 14px;
          font-weight: normal;
        }        
      }
    }
    .building {
      width: 200px;
      .floor {
        .home {
          width: 60px;
        }
      }
      &:after {
        width:210px;
        left: -6px;
      }
      &:before {
        border-width: 0 100px 50px 100px;
      }
      .elevator {
        left: 38%;
      }
    }
  }
}